@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&Didact+Gothic&Inter+Tight:wght@300&family=PT+Sans+Narrow&display=swap');

#content {
    max-width: 1600px;
    margin: auto;
}

nav a{
    text-align: center;
    color:black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background, #background2{
    height: 725px;
    background-color: goldenrod;
}

body{
    background-color:antiquewhite;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

header{
    background-color:sandybrown;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover{
    background-color:aliceblue;
    color:darkslategrey
}

.book, .join{
    background-color: rgb(176, 194, 212);
    color:darkred;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: lightcyan;
    color:black;
}

.msg, .msg-rivers{
    background-color: khaki;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: tan;
    color:black;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title{
    color:crimson;
    font-family:'Permanent Marker','Inter Thight', 'PT Sans Narrow';
    font-size:3em;
    text-shadow:3px 3px 3px white;
}

h4{
    color:white;
}

.msg h2, .msg-rivers h2{
    color:rgb(219, 94, 21);
    font-family:'Permanent Marker','Inter Thight', 'PT Sans Narrow';
    font-size:40px;
    text-shadow:3px 3px 3px white;
}

.msg p, .msg-rivers p{
    color:rgb(242, 245, 58);
    font-size: .8em;
    padding-bottom: 15px;
}

footer a{
    color:rgb(29, 83, 136);
    text-decoration: none;
}

footer a:hover{
    color:rgb(247, 73, 5);
}

.icon{
    width: 80px;
    padding: 10px;
}

.logo{
    width: 80px;
}

#hero-img{
    width:100%;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer, .social {
    padding-top:15px;
}

.home-title{
    margin-top: 10px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid darkgoldenrod;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform:scale(1.1);
}

main section img{
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;   
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row:  1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains, .rivers {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg{
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}





@media screen and (max-width: 900px) {
    #hero, .home-grid, .rivers-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background, #background2 {
        display: none;
    }
    .mountains, .msg, .rivers {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/*Rivers page style */
.rivers-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.salmon {
    width: 90%;
    grid-column: 1/7;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 100px;
    margin-left: 20px;    
}

.desolation {
    width: 90%;
    grid-column: 1/7;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 100px;
    margin-left: 20px;    
}

.grand-canyon {
    width: 90%;
    grid-column: 1/7;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 100px;
    margin-left: 20px;    
}

.salmon-card  {
    background-color: #a5a89d;
    padding: 35px;
    grid-column: 7/11;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 20px;
}

.desolation-card  {
    background-color: #a5a89d;
    padding: 35px;
    grid-column: 7/11;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 20px;
}

.grand-canyon-card  {
    background-color: #a5a89d;
    padding: 35px;
    grid-column: 7/11;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 20px;
}

.salmon-card p, .desolation-card p, .grand-canyon-card p {
    color:rgb(23, 36, 158);
    font-size: .9em;
    padding-bottom: 15px;
}

.msg-rivers  {
    background-color: #21241c;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 4/5;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 150px;
    margin-bottom: 200px;
}

.rivers {
    width: 100%;
    grid-column: 2/7;
    grid-row: 4/5;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 100px;
}

#background2 {
    grid-column: 1/11;
    grid-row: 4/5;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}