@import url('https://fonts.googleapis.com/css2?family=family=PT+Sans+Narrow&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    color:#e7740f ;
}

.slider {
    /*width: 30%;
    height: 50vh;*/
    background: #f19c3b;
    display:flex;
    align-items:center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: fit-content;
}

.swiper-slide img {
    width: 100%;

}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color:#fff;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}

.activity1-card {
    grid-column: 2/5;
    grid-row: 1/3;
    text-align: left;
}

.text-activity1 {
    grid-column: 6/8;
    grid-row: 2/3;
    
}

#content {
    max-width: 1800px;
    margin: auto;
}

nav a{
    text-align: center;
    color:white;
    text-decoration: none;
    padding-top: 80px;
}

#chappel-msg h1, #chappel-msg h4{
    text-align: center;
}

#page1-msg h4 {
    margin-top: 40%;
}

#chappel-msg h4 {
    margin-top: 30%;
}

main section{
    text-align: center;
}
#background {
    width: auto;
    /*margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;*/
    background-color: #0a5f30;
    padding: 10px;
    grid-column: 3/9;
    grid-row: 1/5;
    height: 600px;
}

body{
    background-color:#FAF0CA;
    margin: 0;
    padding: 0;
    font-family: PT Sans, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

header{
    background-color:#0D3B66;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover{ 
    color:#F4D35E;
    text-decoration-line: underline;
    text-decoration-color:darkred;
}

.book, .join{
    background-color: rgb(176, 194, 212);
    color:darkred;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: lightcyan;
    color:black;
}

.msg-under-temple {
    background-color: khaki;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: tan;
    color:black;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title{
    color: #e7740f;
    font-family:'PT Sans Narrow';
    font-size:3em;
    text-shadow:3px 3px 3px white;
}

h4{
    color:white;
}

#page1-msg h4 {
    font-family: Tahoma, sans-serif;
    color: #0D3B66;
    text-align: justify;
}

.msg h2, .msg-rivers h2{
    color:rgb(219, 94, 21);
    font-family:'Permanent Marker','Inter Thight', 'PT Sans Narrow';
    font-size:40px;
    text-shadow:3px 3px 3px white;
}

.msg-under-temple {
    color:white;
    font-size: .8em;
    padding-bottom: 15px;
    text-align: left;
}

footer a{
    color:rgb(29, 83, 136);
    text-decoration: none;
}

footer a:hover{
    color:white;
}

.icon{
    width: 80px;
    padding: 10px;
}

.logo{
    width: 180px;
}

#chappel-img, #page1-img  {
    width:100%;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

#logo_link{
    padding-top: 5px;
    padding-left: 5px;
    justify-self:left;
    align-self:center;
}

footer, .social {
    padding-top:15px;
}

.lds-icon {
    width: 60px;
    
}

.home-title{
    margin-top: 10px;
}

.inspirational-card, .action-card {
    margin: 200px 0;
    
}

.card-img{
    margin-top: 10%;
    border: 10px solid #0D3B66;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover, .lds-icon:hover {
    opacity: .6;
    transform:scale(1.1);
}

main section img{
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#chappel {
    display: grid;   
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0;
}

#page1 {
    display: grid;   
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 50px;
}

#chappel-box {
    grid-column: 1/4;
    grid-row:  1/3;
    z-index: -1;
}

#page1-box {
    grid-column: 2/3;
    grid-row:  1/3;
    z-index: -1;
}

#chappel-msg {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#page1-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 180px;
    margin-bottom: 50px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 200px);
}

.page1-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10,1fr);
}

.page2-grid {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 300px);
    margin-top: 50px;
}

.card-img {
    width: 100%;
    border-radius: 50%;  
}

.inspirational-card {
    margin-top: 150px;
    grid-column: 4/5;
    grid-row: 6/7;
}

.action-card {
    margin-top: 150px;
    grid-column: 7/8;
    grid-row: 6/7;
}

.temple {
    width: 85%;
    grid-column: 3/9;
    grid-row: 1/5;
    margin-top: 30px;
    margin-left: 80px;
    box-shadow: 5px 5px 10px white;
}

.msg-under-temple {
    background-color: #0D3B66;
    padding: 30px;
    grid-column: 4/8;
    grid-row: 4/6;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 50px;
    height: 450px;
}

.vid1-card {
    grid-column: 2/5;
}

.vid1-msg {
    margin-top: 15%;
    grid-column: 6/8;
    grid-row: 1/2;
    
}



@media screen and (max-width: 900px) {
    #chappel, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #chappel, #page1 {
        margin-top: 0;
    }
    #chappel-msg, #page1-msg {
        margin-top: 0;
    }
    #chappel-msg h4, #page1-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    #background {
        display: none;
    }
    .temple, .msg, .rivers {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 30px;
    }
}



#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 30%;
    min-height: 30%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  /*Take action page*/
  * {
    box-sizing: border-box;
  }
  
 /* body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }*/
  
  #myVideo {
    position:fixed;
    left:10%;
    bottom: 30%;
    min-width: 30%; 
    max-height: 60%;
  }
  
  #myVideo2 {
    position:fixed;
    left:35%;
    bottom: 30%;
    min-width: 30%; 
    max-height: 60%;
  }
  
  .content {
    position: fixed;
    bottom: 5%;
    left: 15%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 20%;
    padding: 10px;
  }
  
  .content2 {
    position: fixed;
    bottom: 5%;
    left: 40%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 20%;
    padding: 10px;
  }
  
  #myBtn, #myBtn2 {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover, #myBtn2:hover {
    background: #ddd;
    color: black;
  }


  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}