body{
    background-color: pink;
}

h1{
    font-size: 3em;
    text-align: center;
    padding: 30px;
    color: white;
}
h2, h3{
    text-align: center;
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

h2{
    font-weight:bolder;
    font-size:xx-large;
}

h1:hover {
    background-color: pink;
    color: black;
}
p {
    font-size: 1.2em;
    text-align:left;
    width: 25%;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}

img{
    display: block;
    margin: 0 auto;
    max-width:15em;
}

.main-para{
    text-align: center;
    width: 15%;
    display: block;
    margin: 0 auto;
    padding: 20px;
    color: white;
    font-size: 2em;
    padding:30px;
}

.bottom-para{
    
    text-align: center;

    font-size: 1em;
}

